/* Hanken Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./list.css');

:root {
  /* fuente de letra */
  --font-global: "Hanken Grotesk", sans-serif;

  /* primarios */
  --light-red: #ff5757;
  --orangey-yellow: #ffb01f;
  --green-teal: #00bd91;
  --cobalt-blue: #1125d4;

  /* primarios del fondo de cada item de la lista */
  --red: #E7E7E7;


  /* gradientes */
  --gradient: linear-gradient(#7755FF 0%, #6943FF 0%, #2F2CE9 100%);

  /* neutrales */
  --white: hsl(0, 0%, 100%);
  --pale-blue: #ebf1ff;
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-global);
  background-color: var(--pale-blue);
  align-content: center;
  height: 100vh;
  font-size: 18px;
}

section {
  display: flex;
  justify-content: center;
}

#card {
  width: 700px;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  background-color: var(--white);
}

#card > div {
  width: 50%;
}

#result {
  background: var(--gradient);
  border-radius: 30px;
}

#summary {
  padding: 2em;
}

/* button */
#continue {
  background-color: var(--dark-gray-blue);
  color: var(--white);

  padding: 1em;
  width: 100%;
  border-radius: 30px;
  border: 0;
  font-weight: bold;
}

#continue:hover {
  background: var(--gradient);
  cursor: pointer;
}