/* Hanken Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./list.css');
@import url('./responsive.css');

:root {
  /* fuente de letra */
  --font-global: "Hanken Grotesk", sans-serif;

  /* primarios */
  --light-red: #ff5757;
  --light-blue: #CAC9FF;
  --orangey-yellow: #ffb01f;
  --green-teal: #00bd91;
  --cobalt-blue: #1125d4;

  /* gradientes */
  --gradient: linear-gradient(#7755FF 0%, #6943FF 0%, #2F2CE9 100%);
  --circle: linear-gradient(#4D21C9 0%, #2421c900 100%, #2421c900 100%);

  /* neutrales */
  --white: hsl(0, 0%, 100%);
  --pale-blue: #ebf1ff;
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-global);
  background-color: var(--pale-blue);
  align-content: center;
  height: 100vh;
  font-size: 18px;
}

section {
  display: flex;
  justify-content: center;
}

#card {
  width: 700px;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  background-color: var(--white);
  align-items: center;
}

#result {
  background: var(--gradient);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  gap: 1.4em;

  color: var(--light-blue);
}

#result h3 {
  color: var(--light-blue);
}

#summary {
  padding: 2em;
}

/* button */
#continue {
  background-color: var(--dark-gray-blue);
  color: var(--white);

  padding: 1em 0;
  width: 100%;
  border-radius: 30px;
  border: 0;
  font-weight: bold;
  font-size: 18px;
}

#continue:hover {
  background: var(--gradient);
  cursor: pointer;
}

.icon {
  display: flex;
  gap: 10px;
}

#circle {
  --medida: 200px;
  background: var(--circle);
  border-radius: 50%;
  width: var(--medida);
  height: var(--medida);
  text-align: center;
  align-content: center;
}

#bignumber {
  font-size: 72px;
  font-weight: bold;
  color: var(--white);
}

#description {
  width: 70%;
  text-align: center;
}

#description h3 {
  margin-bottom: .2em;
  font-size: 32px;
  color: var(--white)
}